.rhymeNavbar{
    background-color: #151019;
    display:block;
    padding:1%;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%; 
    height: 7%;
}
.firstLink{
    margin-left:1%
}
.logoutLink{
    float:right;
    padding:none
}
.restLinks{
    border-left: 1px solid white;
}
.link:hover{
    color:gray;
    background-color: white;
    
}
.link{
    padding-right:2%;
    padding-left:1%;
    padding-top:1%;
    padding-bottom:1%;
}
.dropdown{
    border:none ; 
    color:white; 
    background-color: black ; 
}