.backPoemCollections {
    position: absolute;
    width:100%;
    height: 120%;
    background-image: url("https://images.unsplash.com/photo-1519732366889-d6cef8036ebb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7293c86a10c4eaf1551f35a50e52bbfc&auto=format&fit=crop&w=1026&q=80");
    background-size: cover; 
  }

.searchInput{
    margin-left: 2% ; 
    margin-top : 5% ;   
    border-radius: 8px;
    background-color: rgba(31, 30, 30, 0.849)
           
}
.whiteSearch{
    color: white; 
}
      
  