@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Patua+One');

.profilepage{
    background-image: url("https://images.unsplash.com/photo-1526241293825-22718a4c8f97?ixlib=rb-0.3.5&s=a389b3a67bcf21cee513869f0fbc0d79&auto=format&fit=crop&w=1050&q=80");
    background-size: cover; 
    background-repeat: no-repeat;
    position: absolute;
    height: 150%;
    width:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Patua One', cursive;
    text-align:center

}  
.title{
    text-decoration: underline
}
.name{
    margin-top:5%;
}
.image{
    border-radius: 50%;
    width:20%;
    height:250px;
    border:white solid 12px;
    box-shadow: 0px 5px 20px #555;
}
.user{
    margin:1%
}
.arrow{
    font-size:30px;
    position: absolute;
    top:35%;
    cursor: pointer;
    opacity:0.8

}
input{
    background-color:transparent;
    border:none;
}
.buttoni {    
    border-radius: 15px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 1px; 
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
  }
.left{
    left:40%;
}
.right{
    left:59%;
}
.edit{
    cursor: pointer;
    position: absolute;
    top:27.5%;
    left:57%;
}
.newUrl{
    border: solid rgb(112, 112, 112) 1px;
    background-color:rgba(255, 255, 255, 0.288);
}