@import url('https://fonts.googleapis.com/css?family=Nunito');
.lastnameInput, .nameInput, .userInput{
    background-color: #212529;
    border-color:grey;
    COLOR:GREY;
    padding:2px;
    border-radius: 8px;
    position: absolute;
    font-size:20px;
    top:30%;
    left: 40%;
}
.lastnameInput{
    top: 40%;
}
.userInput{
    top:50%;
}
.registerTitle{
    position: absolute;
    font-size:70px;
    top:10%;
    font-family: 'Nunito', sans-serif;
    font-weight: 7  00;
    left: 38.5%;
    color: rgba(252, 204, 211, 0.582);

}
.regButton{
    margin-top:500px;
}
