.lines{
    margin-top: 100px; 
    display: block
}
.input{
    border : none;
    border-radius: 5px; 
    background-color: #b6b5b5; 
    color: white  ;
    font-weight: 700 ; 
}
.poemline{
    text-align: center;
    margin:0 auto
}
