.lines{
    margin-top: 100px; 
    display: inline-block;
}
.line{
    border : none;
    margin-left: 400px;  
    border-radius: 5px; 
    background-color: #808080; 
    color: white  ;
    font-weight: 200 ; 
    font-family: 'Allerta Stencil', sans-serif;
    width: 400px; 

}
